<div class="header">
    <div class="w-full flex flex-row items-center justify-between ">
        <div class="flex flex-row items-center justify-start gap-x-4">
            <img src="logo1.png" height="40" width="40">
            <div class="title">
                {{title$ | async}}
            </div>
        </div>
        <div class="flex flex-row items-end justify-end user gap-x-2" *ngIf="(currentUser$ |async)">
            <div>{{(currentUser$ |async)?.name}}</div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person" [matMenuTriggerFor]="menu"></mat-icon>
        </div>
        
    </div>
   
    
</div>

<mat-menu #menu>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>