.header {
    padding: 10px;
    width: 100%;
    display: block;
    background: #213555;
    color: white;
  
    .title {
      font-size: 1.5rem;
    }

    .user{
        height:40px;
        color: #F5EFE7;
        cursor: pointer;
    }
  }