<div class="welcome w-full h-full flex flex-col items-center justify-center">
    <div>Welcome! Select menu above to explore.</div>
    <div class="flex flex-row items-center justify-center gap-x-4 w-2/4">
     
        <ul id="Frames">
            <li class="Frame"><img src="b1.jpg" alt="Hanafubuki - Cherry blossom blizzard" /></li>

        </ul>
         
        <!-- <ul id="Frames">
            <li class="Frame"><img src="b2.jpg" alt="Hanafubuki - Cherry blossom blizzard" /></li>
        </ul> -->
        <ul id="Frames">
            <li class="Frame"><img src="b5.jpg" alt="Hanafubuki - Cherry blossom blizzard" /></li>
        </ul>
         
        <ul id="Frames">
            <li class="Frame"><img src="b3.jpg" alt="Hanafubuki - Cherry blossom blizzard" /></li>
        </ul>

      

    </div>

</div>