.distribute-seeds{
    .mat-column-seedId{
        min-width: 200px !important;
    }
    
    .mat-column-qtyRemaining{
        min-width: 80px !important;
    }
    .mat-column-qtyToDistribute{
        min-width: 80px !important;
    }

    .mat-column-farmerId{
        min-width: 200px !important;
    }
    

}