.distribute-seeds{
    .mat-column-seed{
        min-width: 200px !important;
    }
    
    .mat-column-qtyRemaining{
        min-width: 100px !important;
    }
    .mat-column-qtyToDistribute{
        min-width: 100px !important;
    }

   
}